body {
  font-family: 'Caveat', cursive , 'Raleway', sans-serif;
    color: rgb(216, 112, 147);
    font-size: 30px;
    margin: 100px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgba(88, 82, 82, 0.973);
  
  };
